[core]
    editor = /opt/homebrew/bin/nvim
[user]
    name = Joe Averbukh
    email = joeaverbukh@gmail.com
[push]
    default = upstream
[color]
    ui = true
[color "grep"]
    filename=magenta
[rerere]
    enabled = true
[pack]
    threads = 0
[merge]
    conflictstyle = diff3
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    unstage = reset HEAD --
    last = log -1 HEAD
    graph = log --graph --decorate --oneline
[url "https://github.com/"]
	insteadOf = git@github.com:
[url "https://"]
	insteadOf = git://
[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential]
	helper = /usr/local/bin/git-credential-manager
