[submodule "vim/bundle/ack"]
    path = vim/bundle/ack
    url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/ctrlp"]
    path = vim/bundle/ctrlp
    url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
    path = vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/lightline"]
    path = vim/bundle/lightline
    url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/fugitive"]
    path = vim/bundle/fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/tcomment"]
    path = vim/bundle/tcomment
    url = https://github.com/tomtom/tcomment_vim
[submodule "vim/bundle/neocomplcache"]
    path = vim/bundle/neocomplcache
    url = https://github.com/Shougo/neocomplcache.vim
